<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<ui:decorate xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	template="template.xhtml">
	
	<h:form>
		<p:toolbar>
			<p:toolbarGroup>
				<p:commandButton value="Adicionar" action="#{usuarioBean.adicionarUsuario()}" update="@form"></p:commandButton>
			</p:toolbarGroup>
		</p:toolbar>
		<p:fieldset legend="Dados">
			<h:panelGrid columns="2">
				<h:outputLabel value="Nome"></h:outputLabel>
				<p:inputText value="#{UsuarioBean.Usuario.nome}"></p:inputText>
				
				<h:outputLabel value="Email"></h:outputLabel>
				<p:inputText value="#{UsuarioBean.Usuario.email}"></p:inputText>
				
				<h:outputLabel value="Senha"></h:outputLabel>
				<p:inputText value="#{UsuarioBean.Usuario.senha}"></p:inputText>
			</h:panelGrid>
		</p:fieldset>
	</h:form>

</ui:decorate>