<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://xmlns.jcp.org/jsf/html"
		xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:f="http://xmlns.jcp.org/jsf/core">
	<h:head>
        <title>Sistema de usuários</title>
        <h:outputStylesheet name="bootstrap.css" library="css"/>
        <h:outputStylesheet name="style.css" library="css"/>
	</h:head>
	
	<h:body>
		<h1>Usuários:</h1>
		<p:menubar>
			<p:menuitem value="Home" url="index.jsf"></p:menuitem>
			<p:menuitem value="Cadastro" url="cadastro.jsf"></p:menuitem>
		</p:menubar>
		<ui:insert name="header">
            <ui:include src="header.xhtml"></ui:include>
        </ui:insert>
        <div class="container mtb">
            <ui:insert name="content">
                <ui:include src="content.xhtml"></ui:include>
            </ui:insert>
        </div>
        <ui:insert name="footer">
            <ui:include src="footer.xhtml"></ui:include>
        </ui:insert>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <h:outputScript name="bootstrap.min.js" library="js"/>
        <h:outputScript name="retina-1.1.0.js" library="js"/>
        <h:outputScript name="jquery.hoverdir.js" library="js"/>
        <h:outputScript name="jquery.hoverex.min.js" library="js"/>
        <h:outputScript name="jquery.prettyPhoto.js" library="js"/>
        <h:outputScript name="jquery.isotope.min.js" library="js"/>
        <h:outputScript name="custom.js" library="js"/>
	</h:body>
	
</html>